{% extends 'base.html' %}
{% block content %}
<style>
    h3.panel-title{
        cursor:pointer;
    }
    .modal-body{text-align:center;}
    img{
        width:80%;
        margin: 10px;
    }
</style>
<div class="content">
<div class="container-fluid">
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title"><a data-toggle="modal" data-target="#myModal">钽电容</a></h3>
              </div>
              <div class="panel-body">
                  <p><b>测试方:</b>A单位</p>
                  <p><b>生产方:</b>B公司</p>
                  <p><b>型号:</b>CAK45</p>
                  <p><b>规格:</b>16V15μF </p>
                  <p><b>误输率: </b>0.17 &nbsp;<b>造假率: </b>0.41 &nbsp;<b>量程误选率: </b>0.76</p>
              </div>

        </div>
        <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">钽电容</h3>
              </div>
              <div class="panel-body">
                  <p><b>测试方:</b>A单位</p>
                  <p><b>生产方:</b>B公司</p>
                  <p><b>型号:</b>CAK</p>
                  <p><b>规格:</b>10V33μF </p>
                  <p><b>误输率: </b>0.17 &nbsp;<b>造假率: </b>0.67 &nbsp;<b>量程误选率: </b>0</p>
              </div>
        </div>
        <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">钽电容</h3>
              </div>
              <div class="panel-body">
                  <p><b>测试方:</b>A单位</p>
                  <p><b>生产方:</b>B公司</p>
                  <p><b>型号:</b>CAK45</p>
                  <p><b>规格:</b>25V15μF </p>
                  <p><b>误输率: </b>0.18 &nbsp;<b>造假率: </b>0.67 &nbsp;<b>量程误选率: </b>0</p>
              </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">钽电容</h3>
              </div>
              <div class="panel-body">
                  <p><b>测试方:</b>A单位</p>
                  <p><b>生产方:</b>B公司</p>
                  <p><b>型号:</b>CAK45</p>
                  <p><b>规格:</b>16V15μF </p>
                  <p><b>误输率: </b>0.16 &nbsp;<b>造假率: </b>0.44 &nbsp;<b>量程误选率: </b>0.5</p>
              </div>
        </div>

        <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">钽电容</h3>
              </div>
              <div class="panel-body">
                  <p><b>测试方:</b>A单位</p>
                  <p><b>生产方:</b>B公司</p>
                  <p><b>型号:</b>CAK45</p>
                  <p><b>规格:</b>20V1μF </p>
                  <p><b>误输率: </b>0.24 &nbsp;<b>造假率: </b>0.18 &nbsp;<b>量程误选率: </b>0</p>
              </div>
        </div>
        <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">钽电容</h3>
              </div>
              <div class="panel-body">
                  <p><b>测试方:</b>A单位</p>
                  <p><b>生产方:</b>B公司</p>
                  <p><b>型号:</b>CAK</p>
                  <p><b>规格:</b>16V2.2μF </p>
                  <p><b>误输率: </b>0.22 &nbsp;<b>造假率: </b>0.23 &nbsp;<b>量程误选率: </b>0</p>
              </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">钽电容</h3>
              </div>
              <div class="panel-body">
                  <p><b>测试方:</b>A单位</p>
                  <p><b>生产方:</b>B公司</p>
                  <p><b>型号:</b>CAK45</p>
                  <p><b>规格:</b>20V6.8μF </p>
                  <p><b>误输率: </b>0.21 &nbsp;<b>造假率: </b>0.55 &nbsp;<b>量程误选率: </b>0</p>
              </div>
        </div>
         <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">钽电容</h3>
              </div>
              <div class="panel-body">
                  <p><b>测试方:</b>A单位</p>
                  <p><b>生产方:</b>B公司</p>
                  <p><b>型号:</b>CAK45</p>
                  <p><b>规格:</b>16V10μF </p>
                  <p><b>误输率: </b>0.15 &nbsp;<b>造假率: </b>0.67 &nbsp;<b>量程误选率: </b>0</p>
              </div>
        </div>
        <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">钽电容</h3>
              </div>
              <div class="panel-body">
                  <p><b>测试方:</b>A单位</p>
                  <p><b>生产方:</b>B公司</p>
                  <p><b>型号:</b>CAK</p>
                  <p><b>规格:</b>32V1μF </p>
                  <p><b>误输率: </b>0.18 &nbsp;<b>造假率: </b>0.67 &nbsp;<b>量程误选率: </b>0</p>
              </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}
{% block modal %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <h4>序列伪造分析</h4>
          <img src="/static/img/1.png" />
          <h4>误输入分析</h4>
          <img src="/static/img/2.png" />
          <h4>量程误选择分析</h4>
          <img src="/static/img/3.png"/>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}